@model IEnumerable<ClothingStore.Core.Entities.Product>

<h2>Product List</h2>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Name</th>
            <th>Category</th>
            <th>Price</th>
            <th>Stock</th>
            <th>Action</th>
            <th>Cart Item</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var p in Model)
        {
            <tr>
                <td>@p.ProductName</td>
                <td>@p.ProductCategory</td>
                <td>@p.ProductPrice.ToString("C")</td>
                <td>@p.ProductStockQuantity</td>
                <td>
                    <a class="btn btn-sm btn-primary" asp-action="Edit" asp-route-id="@p.ProductId">Edit</a>
                    <a class="btn btn-sm btn-danger" asp-action="Delete" asp-route-id="@p.ProductId">Delete</a>
                </td>
                <td>
                    <a class="btn btn-primary btn-sm" asp-controller="Cart" asp-action="Add" asp-route-id="@p.ProductId">
                        Add to Cart
                    </a>
                </td>

            </tr>
        }
    </tbody>
</table>
