@model ClothingStore.Core.Entities.Order

<h2 class="mb-3">Order Details</h2>

<div class="card mb-4">
    <div class="card-body">
        <h5 class="fw-bold">Order #@Model.OrderId</h5>
        <p><b>Name:</b> @Model.CustomerName</p>
        <p><b>Email:</b> @Model.Email</p>
        <p><b>Address:</b> @Model.Address</p>
        <p><b>Date:</b> @Model.OrderDate.ToString("dd MMM yyyy")</p>
        <p><b>Total:</b> ₹@Model.TotalAmount</p>
    </div>
</div>

<h4>Items</h4>

<table class="table table-bordered align-middle">
    <thead class="table-dark">
        <tr>
            <th>Product</th>
            <th>Price</th>
            <th>Qty</th>
            <th>Total</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Items)
        {
            <tr>
                <td>
                    <img src="@item.ImageUrl" style="width:70px; height:70px; object-fit:cover; border-radius:5px;" />
                    <span class="ms-2">@item.ProductName</span>
                </td>
                <td>₹@item.Price</td>
                <td>@item.Quantity</td>
                <td>₹@(item.Price* item.Quantity)</td>
            </tr>
        }
    </tbody>
</table>
<a asp-action="Invoice" asp-route-id="@Model.OrderId" class="btn btn-outline-dark mt-3">
    📄 Download Invoice
</a>

<a class="btn btn-dark mt-3" href="/">Back to Home</a>
