@model List<ClothingStoreApp.Models.CartViewModel>

<h2 class="mb-4">Your Cart</h2>

@if (!Model.Any())
{
    <div class="alert alert-info">Cart is empty</div>
}
else
{
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Item</th>
                <th>Price</th>
                <th>Qty</th>
                <th>Total</th>
                <th>Action</th>
                <th>Count</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <img src="@item.ImageUrl" style="width:60px;height:60px;object-fit:cover;border-radius:5px;" />
                        @item.Name
                    </td>
                    <td>₹@item.Price</td>
                    <td>@item.Quantity</td>
                    <td>₹@(item.Price* item.Quantity)</td>
                    <td>
                        <a class="btn btn-danger btn-sm" asp-action="Remove" asp-route-id="@item.ProductId">Remove</a>
                    </td>
                    <td>
                        <div class="d-flex align-items-center gap-2">
                            <a class="btn btn-sm btn-outline-dark" asp-action="Decrease" asp-route-id="@item.ProductId">−</a>
                            <span>@item.Quantity</span>
                            <a class="btn btn-sm btn-outline-dark" asp-action="Increase" asp-route-id="@item.ProductId">+</a>
                        </div>
                    </td>

                </tr>
            }
        </tbody>
    </table>

    <a class="btn btn-secondary" asp-action="Clear">Clear Cart</a>
    <a class="btn btn-success float-end" asp-controller="Cart" asp-action="Checkout">Proceed to Checkout</a>
}
